.additional-goods__heading {
  margin-bottom: 36px;
  font-weight: normal;
  background-color: transparent;
  @media (min-width: @tablet-width) {
    margin-bottom: 80px;
  }
  @media (min-width: @desktop-width) {
    grid-area: heading;
    margin-bottom: 81px;
  }
}

.additional-goods__text-wrapper {
  display: block;
  width: 226px;
  margin-left: -20px;
  padding-right: 22px;
  padding-left: 19px;
  background-color: @white-color;
  .fstyle(24px, 24px, @black-color);
  @media (min-width: @tablet-width) {
    width: 338px;
    margin-left: -0px;
    padding-left: 37px;
    padding-right: 36px;
    .fstyle(36px, 36px, @black-color);
  }
  @media (min-width: @desktop-width) {
    margin-left: -40px;
    padding-left: 40px;
    padding-right: 35px;
  }
}

.additional-goods__list {
  list-style: none;
  padding: 0px;
  margin-bottom: 39px;
  @media (min-width: @tablet-width) {
    margin: 0px;
    margin-bottom: 69px;
    border: 1px solid @border-grey-color;
    box-sizing: border-box;
  }
  @media (min-width: @desktop-width) {
    margin-bottom: 0px;
    margin-top: 0px;
    border-right: none;
    border-left: none;
  }
}

.additional-goods__item {
  padding-top: 13px;
  padding-bottom: 19px;
  border-bottom: 1px solid @border-grey-color;
  &:first-child {
    border-top: 1px solid @border-grey-color;
  }
  @media (min-width: @tablet-width) {
    padding-top: 26px;
    padding-bottom: 28px;
    padding-left: 38px;
    padding-right: 38px;
    &:first-child {
      border-top: none;
    }
    &:last-child {
      border-bottom: none;
    }
  }
  @media (min-width: @desktop-width) {
    height: 40px;
    padding-top: 15px;
    padding-bottom: 17px;
    padding-left: 1px;
    padding-right: 1px;
  }
}

.additional-goods__item-wrapper {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 316.5px 316.5px;
    row-gap: 23.7px;
    grid-template-rows: 23.3px 38px;
    grid-template-areas:
    'name info'
    'buy buy';
  }
  @media (min-width: @desktop-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.additional-goods__goods-name {
  margin: 0px;
  margin-bottom: 13px;
  padding: 0px;
  .fstyle(16px, 16px, @special-dark-grey-2-color, uppercase);
  font-weight: normal;
  @media (min-width: @tablet-width) {
    grid-area: name;
    margin-bottom: 0px;
    .fstyle(20px, 20px, @special-dark-grey-2-color, uppercase);
  }
  @media (min-width: @desktop-width) {
    width: 323px;
    margin-bottom: 0px;
  }
}

.additional-goods__item-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  @media (min-width: @tablet-width) {
    grid-area: info;
    justify-content: flex-end;
    margin-bottom: 0px;
  }
  @media (min-width: @desktop-width) {
    width: 286px;
    justify-content: space-between;
    margin-bottom: 0px;
    margin-right: 40px;
  }
}

.additional-goods {
  position: relative;
  padding-top: 25px;
  padding-bottom: 35px;
  &__info,
  &__price {
    margin: 0px;
    padding: 0px;
    .fstyle(14px, 14px, @special-dark-grey-color);
    font-family: "Arial", sans-serif;
  }
  &::after {
    content: "";
    position: absolute;
    top: 40px;
    height: 2px;
    width: 100%;
    background: @light-green-color;
    z-index: -1;
  }
  @media (min-width: @tablet-width) {
    padding-top: 0px;
    padding-bottom: 76px;
    &::after {
      top: 22px;
    }
  }
  @media (min-width: @desktop-width) {
    padding-top: 0px;
    padding-bottom: 86px;
  }
}

.additional-goods__wrapper {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 896px 245px;
    grid-template-rows: 289px;
    grid-template-areas:
    'table gift';
    column-gap: 80px;
  }
}

.additional-goods__button {
  display: inline-block;
  vertical-align: middle;
  width: 171px;
  padding: 10px 0px;
  padding-left: 109px;
  .link-style-reset();
  .fstyle(16px, 20px, @white-color, uppercase);
  font-weight: normal;
  @media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
    grid-area: buy;
    width: 62px;
    padding-left: 285px;
    padding-right: 285px;
  }
  @media (min-width: @desktop-width) {
    width: 244px;
    height: 20px;
    padding: 10px 0px;
    text-align: center;
  }
}

.additional-goods__gift-container {
  position: relative;
  min-height: 103px;
  padding-top: 186px;
  text-align: center;
  background-image: url("/img/mobile-gift-cat-photo.png");
  background-repeat: no-repeat;
  &::before {
    content: "";
    position: absolute;
    top: 58px;
    left: 101px;
    width: 78px;
    height: 80px;
    background-image: url("data:image/svg+xml,%3Csvg width='78' height='80' viewBox='0 0 78 80' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M64.0156 34.7129H14.031C12.2766 34.7129 10.8494 33.2954 10.8494 31.5526V22.0845C10.8494 20.3417 12.2766 18.9236 14.031 18.9236H64.0149C65.7687 18.9236 67.1953 20.3417 67.1953 22.0845V31.5533C67.1959 33.2954 65.7693 34.7129 64.0156 34.7129ZM14.031 21.3457C13.6276 21.3457 13.2869 21.6842 13.2869 22.0845V31.5533C13.2869 31.9602 13.6208 32.2914 14.031 32.2914H64.0149C64.4244 32.2914 64.7578 31.9602 64.7578 31.5533V22.0845C64.7578 21.6836 64.4171 21.3457 64.0149 21.3457H14.031Z' fill='white'/%3E%3Cpath d='M57.0447 67.1491H20.999C17.6218 67.1491 14.8741 64.4193 14.8741 61.0628V33.5018C14.8741 32.8333 15.4201 32.2908 16.0929 32.2908C16.7656 32.2908 17.3116 32.8333 17.3116 33.5018V61.0628C17.3116 63.0835 18.9661 64.7269 20.999 64.7269H57.0447C59.077 64.7269 60.7308 63.0835 60.7308 61.0628V33.5018C60.7308 32.8333 61.2768 32.2908 61.9496 32.2908C62.6223 32.2908 63.1683 32.8333 63.1683 33.5018V61.0628C63.1683 64.4193 60.4213 67.1491 57.0447 67.1491Z' fill='white'/%3E%3Cpath d='M39.0225 67.1491C38.3498 67.1491 37.8038 66.6071 37.8038 65.938V33.5018C37.8038 32.8333 38.3498 32.2908 39.0225 32.2908C39.6953 32.2908 40.2413 32.8333 40.2413 33.5018V65.9374C40.2413 66.6071 39.6959 67.1491 39.0225 67.1491Z' fill='white'/%3E%3Cpath d='M23.8113 21.3416C19.9966 19.2876 18.5731 14.533 20.6383 10.7417C22.7022 6.95225 27.4864 5.53711 31.303 7.58746C37.117 10.7169 40.2565 19.4475 40.3869 19.8175L38.0877 20.621C38.0585 20.5387 35.1256 12.3997 30.1433 9.71773C27.5078 8.30199 24.2062 9.27933 22.7821 11.8946C21.3567 14.5124 22.339 17.7944 24.9734 19.2119L23.8113 21.3416Z' fill='white'/%3E%3Cpath d='M54.2313 21.3416L53.071 19.2113C54.3477 18.524 55.2782 17.385 55.6926 16.0038C56.1063 14.622 55.9534 13.1626 55.2617 11.8952C54.5719 10.6266 53.4263 9.70258 52.0363 9.29142C50.6457 8.88026 49.1783 9.03164 47.9023 9.71771C42.9201 12.399 39.9871 20.538 39.9579 20.6204L37.6587 19.8168C37.7891 19.4469 40.928 10.7162 46.7421 7.58744C48.5897 6.59315 50.7182 6.37394 52.7316 6.96979C54.7468 7.56503 56.4061 8.90508 57.4061 10.7417C58.4073 12.5777 58.6285 14.6916 58.0289 16.6941C57.4287 18.696 56.0801 20.3461 54.2313 21.3416Z' fill='white'/%3E%3Cpath d='M61.9496 50.9317H16.0929C15.4201 50.9317 14.8741 50.3891 14.8741 49.7206C14.8741 49.0521 15.4201 48.5095 16.0929 48.5095H61.9496C62.6223 48.5095 63.1683 49.0521 63.1683 49.7206C63.1683 50.3891 62.6229 50.9317 61.9496 50.9317Z' fill='white'/%3E%3C/svg%3E%0A");
  }
  @media (min-resolution: 2dppx) {
    background-image: url("/img/mobile-gift-cat-photo@2x.png");
    background-size: 280px auto;
  }
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 200px;
    padding-top: 0px;
    text-align: right;
    background-image: url("/img/tablet-gift-cat-photo.png");
    &::before {
      top: 57px;
      left: 78px;
      width: 80px;
      height: 82.5px;
      background-image: url("data:image/svg+xml,%3Csvg width='80' height='83' viewBox='0 0 80 83' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M65.657 35.8289H14.3907C12.5914 35.8289 11.1276 34.3657 11.1276 32.567V22.7945C11.1276 20.9957 12.5914 19.532 14.3907 19.532H65.6564C67.4551 19.532 68.9182 20.9957 68.9182 22.7945V32.5676C68.9189 34.3657 67.4557 35.8289 65.657 35.8289ZM14.3907 22.032C13.977 22.032 13.6276 22.3814 13.6276 22.7945V32.5676C13.6276 32.9876 13.9701 33.3295 14.3907 33.3295H65.6564C66.0764 33.3295 66.4182 32.9876 66.4182 32.5676V22.7945C66.4182 22.3807 66.0689 22.032 65.6564 22.032H14.3907Z' fill='white'/%3E%3Cpath d='M58.5074 69.3076H21.5374C18.0737 69.3076 15.2556 66.4901 15.2556 63.0257V34.5789C15.2556 33.8889 15.8156 33.3289 16.5056 33.3289C17.1956 33.3289 17.7556 33.8889 17.7556 34.5789V63.0257C17.7556 65.1114 19.4524 66.8076 21.5374 66.8076H58.5074C60.5918 66.8076 62.2881 65.1114 62.2881 63.0257V34.5789C62.2881 33.8889 62.8481 33.3289 63.5381 33.3289C64.2281 33.3289 64.7881 33.8889 64.7881 34.5789V63.0257C64.7881 66.4901 61.9706 69.3076 58.5074 69.3076Z' fill='white'/%3E%3Cpath d='M40.0231 69.3076C39.3331 69.3076 38.7731 68.7482 38.7731 68.0576V34.5789C38.7731 33.8889 39.3331 33.3289 40.0231 33.3289C40.7131 33.3289 41.2731 33.8889 41.2731 34.5789V68.057C41.2731 68.7482 40.7138 69.3076 40.0231 69.3076Z' fill='white'/%3E%3Cpath d='M24.4218 22.0276C20.5093 19.9076 19.0493 15.0001 21.1674 11.0869C23.2843 7.17568 28.1912 5.71505 32.1056 7.8313C38.0687 11.0613 41.2887 20.0726 41.4224 20.4544L39.0643 21.2838C39.0343 21.1988 36.0262 12.7982 30.9162 10.0301C28.2131 8.5688 24.8268 9.57755 23.3662 12.2769C21.9043 14.9788 22.9118 18.3663 25.6137 19.8294L24.4218 22.0276Z' fill='white'/%3E%3Cpath d='M55.6218 22.0275L54.4318 19.8287C55.7412 19.1194 56.6956 17.9437 57.1206 16.5181C57.545 15.0919 57.3881 13.5856 56.6787 12.2775C55.9712 10.9681 54.7962 10.0144 53.3706 9.58998C51.9443 9.16561 50.4393 9.32186 49.1306 10.03C44.0206 12.7975 41.0125 21.1981 40.9825 21.2831L38.6243 20.4537C38.7581 20.0719 41.9775 11.0606 47.9406 7.83123C49.8356 6.80498 52.0187 6.57873 54.0837 7.19373C56.1506 7.80811 57.8525 9.19123 58.8781 11.0869C59.905 12.9819 60.1318 15.1637 59.5168 17.2306C58.9012 19.2969 57.5181 21 55.6218 22.0275Z' fill='white'/%3E%3Cpath d='M63.5381 52.5686H16.5056C15.8156 52.5686 15.2556 52.0086 15.2556 51.3186C15.2556 50.6286 15.8156 50.0686 16.5056 50.0686H63.5381C64.2281 50.0686 64.7881 50.6286 64.7881 51.3186C64.7881 52.0086 64.2287 52.5686 63.5381 52.5686Z' fill='white'/%3E%3C/svg%3E%0A");
    }
    @media (min-resolution: 2dppx) {
      background-image: url("/img/tablet-gift-cat-photo@2x.png");
      background-size: 708px auto;
    }
  }
  @media (min-width: @desktop-width) {
    grid-area: gift;
    width: 245px;
    padding-top: 185px;
    padding-bottom: 42px;
    box-sizing: border-box;
    background-image: url("/img/desktop-gift-cat-photo.png");
    &::before {
      top: 56px;
      left: 84px;
    }
    @media (min-resolution: 2dppx) {
      background-image: url("/img/desktop-gift-cat-photo@2x.png");
      background-size: 245px auto;
    }
  }
}

.additional-goods__text {
  display: inline-block;
  vertical-align: middle;
  width: 161px;
  margin: 0px auto;
  .fstyle(16px, 20px, @white-color);
  font-weight: normal;
  font-family: "Arial", sans-serif;
  text-align: center;
  @media (min-width: @tablet-width) {
    margin: 0px 0px;
    margin-right: 124px;
    text-align: left;
  }
  @media (min-width: @desktop-width) {
    width: 161px;
    margin: 0px auto;
    text-align: center;
  }
}

.additional-goods__info {
  @media (min-width: @tablet-width) {
    margin-right: 57px;
    .fstyle(16px, 20px, @special-dark-grey-color);
  }
  @media (min-width: @desktop-width) {
    margin-right: 0px;
  }
}

.additional-goods__price {
  @media (min-width: @tablet-width) {
    .fstyle(16px, 20px, @special-dark-grey-color);
  }
}
