.additional-goods__heading {
  .fstyle(24px, 24px, @black-color);
  font-weight: normal;
}

.additional-goods__list {
  .list-style-disabler();
  margin-bottom: 34px;
}

.additional-goods__item {
  padding-top: 13px;
  padding-bottom: 19px;
  border-bottom: 1px solid @border-grey-color;
  border-top: 1px solid @border-grey-color;
}
.additional-goods__goods-name {
  margin: 0px;
  margin-bottom: 13px;
  padding: 0px;
  .fstyle(16px, 16px, @special-dark-grey-2-color, uppercase);
  font-weight: normal;
}

.additional-goods__item-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.additional-goods {
  padding-bottom: 35px;
  &__info,
  &__price {
    margin: 0px;
    padding: 0px;
    .fstyle(14px, 14px, @special-dark-grey-color);
    font-family: "Arial", sans-serif;
  }
}

.additional-goods__button {
  display: inline-block;
  vertical-align: middle;
  width: 171px;
  padding: 10px 0px;
  padding-left: 109px;
  .link-style-reset();
  .fstyle(16px, 20px, @white-color, uppercase);
  font-weight: normal;
}

.additional-goods__gift-container {
  width: 222px;
  min-height: 103px;
  padding-top: 186px;
  padding-left: 58px;
  background-image: url("/img/mobile-gift-cat-photo.png");
}

.additional-goods__text {
  .fstyle(16px, 20px, @white-color);
  font-weight: normal;
  font-family: "Arial", sans-serif;
}
