.dealers {
  padding: 0px;
  @media (min-width: @tablet-width) {
    padding: 0px;
  }
  @media (min-width: @desktop-width) {
    min-height: 305px;
    padding-top: 95px;
  }
}

.dealers__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 22px;
  @media (min-width: @tablet-width) {
    justify-content: space-between;
    width: 625px;
    min-height: 88px;
    padding: 0px;
    padding-top: 62px;
    padding-left: 71px;
    padding-right: 72px;
    padding-bottom: 51px;
  }
  @media (min-width: @desktop-width) {
    align-items: center;
    max-width: 405px;
    padding: 0px;
    padding-left: 76px;
    padding-right: 89px;
    padding-top: 62px;
    padding-bottom: 51px;
    justify-content: space-between;

  }
}

.dealers__heading {
  margin: 0px;
  padding: 0px;
  .fstyle(16px, 18px, @special-dark-grey-3-color, uppercase);
  font-weight: normal;
  @media (min-width: @tablet-width) {
    display: inline-block;
    vertical-align: middle;
    width: 171px;
  }
}

.dealers__address {
  margin: 0px;
  padding: 0px;
  .fstyle(14px, 20px, @special-dark-grey-color);
  font-family: "Arial", sans-serif;
  @media (min-width: @tablet-width) {
    display: inline-block;
    vertical-align: middle;
    width: 159px;
  }
}

.dealers__map-wrapper {
  height: 362px;
  @media (min-width: @tablet-width) {
    background-color: transparent;
  }
  @media (min-width: @desktop-width) {
    display: none;
  }
}

.dealers--background {
  background-color: @basic-grey-color;
}

.dealers__map-image {
  display: block;
  margin: 0 auto;
}
