.dealers {
  width: 320px;
}

.dealers__wrapper {
  display: flex;
  justify-content: center;
  padding: 0px 19px;
  padding-top: 28px;
  padding-bottom: 22px;
}

.dealers__heading {
  margin: 0px;
  padding: 0px;
  .fstyle(16px, 18px, @special-dark-grey-3-color, uppercase);
}

.dealers__address {
  margin: 0px;
  padding: 0px;
  .fstyle(14px, 20px, @special-dark-grey-color);
  font-family: "Arial", sans-serif;
}

.dealers__map-wrapper {
  height: 362px;
}
