.example {
  background-color: @darker-grey-color;
  padding-top: 27px;
  padding-bottom: 25px;
  @media (min-width: @tablet-width) {
    padding: 0px;
    padding-top: 43px;
    background: linear-gradient(to bottom, @white-color 66.5%, @darker-grey-color 66.5%)
  }
  @media (min-width: @desktop-width) {
    position: relative;
    padding: 0px;
    background: linear-gradient(to right, #F2F2F2 70%,  #EAEAEA 70%);
    &::before {
      content: "";
      position: absolute;
      left: 0px;
      top: 0px;
      display: block;
      height: 194px;
      width: 100%;
      background-color: white;
      z-index: 0;
    }
  }
}

.example__main-wrapper {
  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    width: auto;
  }
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 610px 610px;
    grid-template-rows: 194px 462px;
    grid-template-areas:
    'heading heading'
    'info slider';
  }
}

.example__heading {
  margin: 0px;
  margin-bottom: 33px;
  padding: 0px;
  .fstyle(36px, 40px, @black-color);
  font-weight: 500;
  @media (min-width: @tablet-width) {
    width: 708px;
    margin: 0px auto;
    margin-bottom: 63px;
    .fstyle(60px, 60px, @black-color);
  }
  @media (min-width: @desktop-width) {
    grid-area: heading;
    margin-top: 58px;
    margin-bottom: 0px;
    margin-left: 0px;
    z-index: 1;
  }
}

.example__wrapper {
  padding: 0px;
  @media (min-width: @tablet-width) {
    width: 708px;
    margin: 0px auto;
  }
  @media (min-width: @desktop-width) {
    grid-area: info;
    max-width: 610px;
    padding: 0px;
    margin: 0px;
    padding-left: 0px;
    padding-top: 70px;
    padding-bottom: 75px;
  }
}

.example__text {
  margin: 0px;
  margin-bottom: 25px;
  padding: 0px;
  .fstyle(14px, 18px, @special-dark-grey-color);
  font-family: "Arial", sans-serif;
  @media (min-width: @tablet-width) {
    margin-bottom: 54px;
    .fstyle(16px, 24px, @special-dark-grey-color);
  }
  @media (min-width: @desktop-width) {
    display: inline-block;
    vertical-align: middle;
    width: 436px;
    margin-bottom: 69px;
  }
}

.example__amount-wrapper {
  position: relative;
  min-width: 124px;
  min-height: 56px;
  margin-bottom: 34px;
  text-align: center;
  border: 1px solid @border-grey-color;
  border-radius: 3px;
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: center;
    min-height: 75px;
    min-width: 160px;
  }
  @media (min-width: @tablet-width) {
    margin-bottom: 60px;
  }
}
/*маргин 250px потому что я так понимаю, див с котами будет убран,а пикчи добавлены псевдоэлементами и абсолютно спозиционированы*/
.example__amount-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 42px;
  @media (min-width: @tablet-width) and (max-width: @tablet-width-only){
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    column-gap: 42px;
    margin-bottom: 250px;
  }
  @media (min-width: @desktop-width) {
    flex-wrap: wrap;
    max-width: 436px;
    padding-top: 0px;
  }
}

.example__amount {
  margin: 0px;
  margin-bottom: 10px;
  padding: 0px;
  padding-top: 13px;
  .fstyle(24px, 24px, @black-color, uppercase);
  @media (min-width: @tablet-width) {
    .fstyle(30px, 37px, @black-color, uppercase);
  }
}

.example__amount-annotation-wrapper {
  position: absolute;
  top: 48px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  width: 75px;
  margin-left: 18.5px;
  background-color: @darker-grey-color;
  @media (min-width: @tablet-width) {
    top: 47px;
    height: 30px;
    width: auto;
    margin-left: 0px;
    padding-left: 7px;
    padding-right: 8px;
    padding-top: 20px;
    background-color: @white-color;
  }
  @media (min-width: @desktop-width) {
    background-color: @basic-grey-color;
  }
}

.example__amount-annotation {
  padding: 0px;
  margin: 0px;
  .fstyle(12px, 12px, @special-dark-grey-color);
  font-family: "Arial", sans-serif;
  @media (min-width: @tablet-width) {
    .fstyle(14px, 14px, @special-dark-grey-color);
  }
}

.example__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 17px;
  @media (min-width: @tablet-width) {
    margin-bottom: 0px;
  }
  @media (min-width: @desktop-width) {
    display: none;
  }
}

.example__final-price {
  margin: 0px auto;
  .fstyle(14px, 20px, @black-color, uppercase);
  @media (min-width: @tablet-width) {
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    margin-left: 125px;
    margin-bottom: 0px;
    .fstyle(20px, 20px, @black-color, uppercase);
  }
  @media (min-width: @desktop-width) {
    padding-top: 0px;
    margin-left: 0px;
  }
}

.example__slider-controls-wrapper {
  display: flex;
  justify-content: space-between;
  @media (max-width: @mobile-width-only) {
    width: 228px;
    margin: 0px auto;
  }
  @media (min-width: @tablet-width) {
    justify-content: center;
    padding: 0px;
    padding-top: 358px;
    padding-bottom: 64px;
  }
  @media (min-width: @desktop-width) {
    grid-area: slider;
    margin: 0px;
    padding: 0px;
    padding-top: 358px;
    padding-bottom: 64px;
    padding-right: 88px;
    padding-left: 88px;
    background: none;
  }
}

.example__slider-container {
  min-width: 84px;
  @media (min-width: @tablet-width) {
    min-width: 428px;
    margin-left: 14px;
    margin-right: 11px;
  }
}

.example__slider-text {
  .fstyle(16px, 20px, @black-color, uppercase);
  font-family: "Oswald", "Arial", sans-serif;
  background: none;
  border: none;
  @media (min-width: @tablet-width) {
    min-height: 40px;
    margin: 0px;
    padding: 0px;
    .fstyle(20px, 30px, @black-color, uppercase);
  }
}
