.feed-description {
  margin-bottom: 42px;
  @media (min-width: @tablet-width) {
    margin-bottom: 43px;
    padding-bottom: 47px;
  }
  @media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
    border-bottom: 1px solid @grey-border-header;
  }
  @media (min-width: @desktop-width) {
    padding-bottom: 0px;
    margin-bottom: 11px;
  }
}

.feed-description__list {
  .list-style-disabler();
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 249px 249px;
    column-gap: 135px;
    row-gap: 37px;
  }
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: none;
    column-gap: 0px;
    row-gap: 0px;
  }
}

.feed-description__heading {
  margin-top: 0px;
  margin-bottom: 38px;
  padding-top: 0px;
  .fstyle(36px, 40px, @black-color);
  font-weight: 500;
  @media (min-width: @tablet-width) {
    margin-bottom: 32px;
    .fstyle(60px, 60px, @black-color);
  }
  @media (min-width: @tablet-width) {
    margin-bottom: 36px;
  }
}

.feed-description__item {
  position: relative;
  min-height: 60px;
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0px;
  }
  @media (max-width: @mobile-width-only) {
    display: flex;
    align-items: center;
  }
  @media (min-width: @tablet-width) {
    min-height: 280px;
    margin-bottom: 0px;
    &::before {
      content: "1";
      position: absolute;
      top: 0px;
      right: 0px;
      width: 112px;
      .fstyle(280px, 280px, @basic-grey-color);
      font-family: "Oswald", "Arial", sans-serif;
      text-align: center;
      z-index: -1;
    }
  }
  @media (min-width: @desktop-width) {
    min-height: 280px;
    max-width: 230px;
  }
}

.feed-description__item--2nd {
  &::before {
    content: "2";
    width: 134px;
  }
}

.feed-description__item--3rd {
  &::before {
    content: "3";
    width: 134px;
  }
}

.feed-description__item--4th {
  &::before {
    content: "4";
    width: 136px;
  }
}

.feed-description__text {
  margin: 0px;
  margin-left: 80px;
  .fstyle(14px, 18px, @special-dark-grey-color);
  font-family: "Arial", sans-serif;
  @media (min-width: @tablet-width) {
    width: 245px;
    margin: 0px;
    padding: 0px;
    padding-top: 151px;
    .fstyle(16px, 24px, @special-dark-grey-color);
  }
}

.feed-description__icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  @media (min-width: @tablet-width) {
    top: 40px;
    width: 80px;
    height: 80px;
  }
}

