.feed-programs {
  margin-bottom: 27px;
}
.feed-programs__list {
  .list-style-disabler();
  width: 320px;
}

.feed-programs__item {
  margin-bottom: 20px;
}

.feed-programs__wrapper {
  padding: 20px 20px;
  background-color: @basic-grey-color;
}

.feed-programs__heading {
  margin: 0px;
  padding: 0px;
  margin-bottom: 22px;
  margin-left: 58px;
  .fstyle(24px, 37px, @black-color, uppercase);
  font-weight: 500;
}

.feed-programs__text {
  margin: 0px;
  padding: 0px;
  margin-bottom: 38px;
  font-family: "Arial", sans-serif;
  .fstyle(14px, 18px, @special-dark-grey-color);
}

.feed-programs__link {
  .fstyle(16px, 16px, @black-color, uppercase);
  .link-style-reset();
}
