.feed-programs {
  margin-bottom: 27px;
  @media (min-width: @tablet-width) {
    margin-bottom: 45px;
  }
  @media (min-width: @desktop-width) {
    margin-bottom: 67px;
  }
}
.feed-programs__list {
  .list-style-disabler();
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}

.feed-programs__item {
  margin-bottom: 20px;
  @media (min-width: @tablet-width) {
    width: 594px;
    min-height: 238px;
    margin-bottom: 30px;
    padding-top: 77px;
    padding-bottom: 57px;
    padding-left: 52px;
    padding-right: 62px;
    background-color: @basic-grey-color;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  @media (min-width: @desktop-width) {
    width: 467px;
    min-height: 278px;
    padding-top: 41px;
    padding-left: 52px;
    padding-right: 51px;
    padding-bottom: 55px;
    margin: 0px;
  }
}

.feed-programs__item--gather-mass {
  @media (min-width: @tablet-width) {
    width: 628px;
    min-height: 242px;
    padding-top: 77px;
    padding-left: 52px;
    padding-right: 28px;
    padding-bottom: 53px;
    margin: 0px;
  }
  @media (min-width: @desktop-width) {
    width: 476px;
    min-height: 272px;
    padding-top: 47px;
    padding-left: 33px;
    padding-right: 61px;
    padding-bottom: 55px;
    margin: 0px;
  }
}

.feed-programs__wrapper {
  padding: 20px 20px;
  position: relative;
  @media (max-width: @mobile-width-only) {
    &::before {
      content: "";
      position: absolute;
      bottom: 57px;
      left: 20px;
      width: 240px;
      height: 1px;
      background-color: @footer-grey-color;
    }
  }
  background-color: @basic-grey-color;
  @media (min-width: @tablet-width) {
    position: static;
    padding: 0px;
  }
  @media (min-width: @desktop-width) {
    padding: 0px;
  }
}

.feed-programs__heading {
  margin: 0px;
  padding: 0px;
  margin-bottom: 27px;
  margin-left: 69px;
  .fstyle(24px, 37px, @black-color, uppercase);
  font-weight: 500;
  @media (max-width: @mobile-width-only) {
    margin-top: 10px;
  }
  @media (min-width: @tablet-width) {
    margin-left: 0px;
    margin-bottom: 24px;
    .fstyle(36px, 36px, @black-color, uppercase);
  }
  @media (min-width: @desktop-width) {
    margin-left: 168px;
    margin-bottom: 73px;
  }
}

.feed-programs__text {
  margin: 0px;
  padding: 0px;
  margin-bottom: 38px;
  font-family: "Arial", sans-serif;
  .fstyle(14px, 18px, @special-dark-grey-color);
  @media (min-width: @tablet-width) {
    width: 377px;
    margin-bottom: 48px;
    .fstyle(16px, 24px, @black-color);
  }
  @media (min-width: @desktop-width) {
    width: 467px;
    margin-bottom: 23px;
    margin-left: 19px;
  }
}

.feed-programs__link {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 132px;
  .fstyle(20px, 30px, @black-color, uppercase);
  &::before {
    content: "";
    position: absolute;
    top: 3px;
    right: 8px;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 8px solid @black-color;
  }
  &::after {
    content: "";
    position: absolute;
    top: 8px;
    right: 16px;
    width: 18px;
    height: 2px;
    background-color: @black-color;
  }
  &:hover::before {
    right: 0px;
  }
  &:hover::after {
    width: 26px;
    right: 8px;
  }
  &:focus::before,
  &:focus::after,
  &:active::before,
  &:active::after {
    opacity: 0.3;
  }
  .fstyle(16px, 16px, @black-color, uppercase);
  .link-style-reset();
  @media (min-width: @tablet-width) {
    width: 165px;
    .fstyle(20px, 30px, @black-color, uppercase);
    &::before {
      top: 9px;
      right: 8px;
    }
    &::after {
      top: 14px;
      right: 16px;
    }
  }
  @media (min-width: @desktop-width) {
    margin-left: 19px;
  }
}

.feed-programs__item--weight-loss,
.feed-programs__item--gather-mass {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    z-index: 1;
  }
}

.feed-programs__item--weight-loss .feed-programs__heading {
  @media (min-width: @desktop-width) {
    margin-top: 36px;
  }
}

.feed-programs__item--gather-mass .feed-programs__heading {
  @media (min-width: @desktop-width) {
    margin-top: 30px;
  }
}

.feed-programs__weight-loss-icon,
.feed-programs__gather-mass {
  position: absolute;
}

.feed-programs__weight-loss-icon {
  top: 21px;
  left: 22px;
  width: 50px;
  height: 53px;
  @media (min-width: @tablet-width) {
    top: 81px;
    left: 446px;
    width: 200px;
    height: 211px;
  }
  @media (min-width: @desktop-width) {
    top: 41px;
    left: 52px;
    width: 100px;
    height: 106px;
  }
}

.feed-programs__gather-mass {
  top: 24px;
  left: 13px;
  width: 67px;
  height: 50px;
  @media (min-width: @tablet-width) {
    top: 91px;
    left: 412px;
    width: 268px;
    height: 200px;
  }
  @media (min-width: @desktop-width) {
    top: 47px;
    left: 33px;
    width: 134px;
    height: 100px;
  }
}
