.main-goods {
  padding-top: 27px;
}

.main-goods__heading {
  margin: 0px;
  margin-bottom: 41px;
  margin-left: 20px;
  padding: 0px;
  .fstyle(36px, 36px, @black-color);
  font-weight: 400;
}

.main-goods__list {
  .list-style-disabler();
  margin-bottom: 25px;
}


.main-goods__item-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  'image table'
  'button button';
  width: 280px;
}

.main-goods__item {
  max-width: 320px;
  padding-top: 19px;
  padding-bottom: 25px;
  border-top: 1px solid @special-grey-color;
  border-bottom: 1px solid @special-grey-color;
}

.main-goods__product-name {
  display: inline-block;
  width: 75px;
  vertical-align: middle;
  margin-bottom: 14px;
  .fstyle(16px, 20px, @special-dark-grey-2-color, uppercase);
  .link-style-reset();
}

.main-goods__image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: image;
  width: 141px;
}

.main-goods__product-wrapper {
  grid-area: table;
  width: 141px;
  margin-bottom: 13px;
}

.main-goods__table-column {
  width: 69px;
  font-family: "Arial", sans-serif;
  .fstyle(12px, 16px, @special-dark-grey-color);
  &:last-child {
    text-align: right;
  }
}

.main-goods__button {
  grid-area: button;
  padding: 10px 0px;
  padding-left: 109px;
  .link-style-reset();
  .fstyle(16px, 20px, @white-color, uppercase);
  font-weight: normal;
}

.main-goods__show-more-container {
  max-width: 320px;
  padding-top: 53px;
  padding-bottom: 25px;
  text-align: center;
  border-bottom: 1px solid @special-grey-color;
}

.main-goods__small-heading {
  margin: 0px;
  margin-bottom: 8px;
  padding: 0px;
  .fstyle(16px, 20px, @special-dark-grey-3-color, uppercase);
}

.main-goods__text {
  margin: 0px;
  margin-bottom: 21px;
  padding: 0px;
  .fstyle(12px, 16px, @special-dark-grey-color);
  font-family: "Arial", sans-serif;
}

.main-goods__show-more-button {
  display: inline-block;
  vertical-align: middle;
  padding: 20px 94px;
  .link-style-reset();
  .fstyle(16px, 20px, @special-dark-grey-color, uppercase);
  background-color: @basic-grey-color;
}

.main-goods__show-more-wrapper {
  width: 280px;
}
