@media (max-width: @mobile-width-only) {

  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--closed .main-nav__toggle::before {
    content: '';
    position: absolute;
    top: 23px;
    left: -18px;
    width: 24px;
    height: 1.5px;
    background-color: @black-color;
    box-shadow: 0 8px 0 0 @black-color, 0 16px 0 0 @black-color;
  }

  .main-nav--opened .main-nav__toggle {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 32px;
      left: -18px;
      width: 24px;
      height: 1.5px;
      background-color: @black-color;
    }
    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }
    &::after {
      transform: rotate(-45deg);
    }
  }

  .main-nav--withoutjs .main-nav__toggle {
    display: none;
  }

  .main-nav--withoutjs .main-nav__list {
    display: block;
  }

}

.main-nav__toggle {
  position: absolute;
  top: 0px;
  right: 0px;
  display: block;
  width: 30px;
  height: 38px;
  padding: 0px;
  cursor: pointer;
  border: none;
  background: none;
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav__list {
  .list-style-disabler();
  @media (min-width: @tablet-width) {
    display: flex;
    width: 492px;
    margin-top: 42px;
  }
  @media (min-width: @desktop-width) {
    width: 501px;
    margin-top: 16px;
  }
}

.main-nav {
  @media (min-width: @tablet-width) {
    height: 36px;
  }
}

.main-nav__item {
  @media (max-width: @mobile-width-only) {
    padding-top: 21px;
    padding-bottom: 23px;
    text-align: center;
    border-bottom: 1px solid @grey-border-header;
    &:first-child {
      border-top: 1px solid @grey-border-header;
    }
  }
  @media (min-width: @tablet-width) {
    margin-right: 33px;
    &:last-child {
      margin-right: 0px;
    }
  }
}

.main-nav__item a {
  display: block;
  .link-style-reset();
  .fstyle(20px, 20px, @black-color, uppercase);
  font-weight: 500;
  @media (min-width: @tablet-width) {
    min-height: 36px;
    .fstyle(18px, 24px, @black-color, uppercase);
  }
  @media (min-width: @desktop-width) {
    .fstyle(20px, 30px, @black-color, uppercase);
  }
}

.main-nav__item--contrast-color a {
  @media (min-width: @desktop-width) {
    .fstyle(20px, 30px, @white-color, uppercase);
  }
}

.main-nav__item--active {
  @media (min-width: @tablet-width) {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 2px;
      background: @light-green-color;
    }
  }
}

.main-nav__item--active.main-nav__item--contrast-color {
  @media (min-width: @desktop-width) {
    &::before {
      background: @white-color;
    }
  }
}
