.page-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 12px;
  min-height: 37px;
  @media (max-width: @mobile-width-only) {
    width: 320px;
    padding-left: 0px;
    padding-right: 0px;
  }
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 62px;
  }
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 111px;
    z-index: 2;
  }
}

.page-header--form {
  padding-top: 12px;
  @media (min-width: @tablet-width) {
    padding-top: 0px;
    margin-bottom: 64px;
  }
  @media (min-width: @desktop-width) {
    margin-bottom: 73.5px;
    padding-top: 1px;
  }
}

.page-header--catalog {
  padding-top: 12px;
  @media (min-width: @tablet-width) {
    padding-top: 0px;
    margin-bottom: 64px;
  }
  @media (min-width: @desktop-width) {
    margin-bottom: 74px;
    padding-top: 1px;
  }
}

.page-header__logo {
  @media (max-width: @mobile-width-only) {
    margin-bottom: 11px;;
  }
}
