.page-header {
  display: flex;
  justify-content: space-between;
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    margin-bottom: 62px;
  }
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    margin-bottom: 32px;
  }
}

.page-header--inner {
  @media (min-width: @tablet-width) {
    padding-top: 25px;
    margin-bottom: 64px;
  }
}
