.page__body--greenbox {
  @media (min-width: @desktop-width) {
    &::before {
      content: "";
      top: 0;
      left: 50%;
      position: absolute;
      width: 50%;
      height: 694px;
      background-image: url("/img/background-cat-desktop.png");
      background-color: @dark-green-color;
      background-position-x: right;
      background-repeat: no-repeat;
      z-index: 1;

      @media (min-resolution: 2dppx) {
        background-image: url("/img/background-cat-desktop@2x.png");
        background-size: 720px auto;
      }
    }
  }
}
