.page-footer {
  max-width: 320px;
  padding-top: 39px;
  background-color: @basic-grey-color;
}

.page-footer__logo {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.page-footer__socials {
  margin-bottom: 22px;
}
