.program-selection {
  position: relative;
  padding-top: 27px;
  padding-bottom: 32px;
  @media (max-width: @mobile-width-only) {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 362px;
      width: 100%;
      height: 1px;
      background-color: @footer-grey-color;
    }
    &::after {
      top: 502px;
    }
  }
  @media (min-width: @tablet-width) {
    padding-bottom: 0px;
  }
  @media (min-width: @desktop-width) {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 61px;
  }
}

.program-selection__heading {
  margin: 0px;
  padding: 0px;
  margin-bottom: 37px;
  .fstyle(36px, 36px, @black-color);
  font-weight: normal;
  @media (min-width: @tablet-width) {
    margin-left: 39px;
    margin-bottom: 54px;
  }
  @media (min-width: @desktop-width) {
    margin-left: 0px;
    margin-bottom: 56px;
  }
}

.program-selection__text {
  margin: 0px;
  margin-bottom: 39px;
  padding: 0px;
  .fstyle(14px, 18px, @black-color, uppercase);
  @media (min-width: @tablet-width) {
    margin-left: 39px;
    margin-bottom: 66px;
  }
  @media (min-width: @desktop-width) {
    margin-left: 0px;
  }
}

.program-selection__footnote {
  margin: 0px;
  padding: 0px;
  margin-left: 61px;
  .fstyle(14px, 16px, @black-color);
  font-family: "Arial", sans-serif;
  font-weight: normal;
  @media (min-width: @desktop-width) {
    margin-left: 81px;
  }
}

