.promo__slogan-wrapper {
  position: relative;
  max-width: 320px;
  min-height: 275px;
  padding-top: 27px;
  text-align: center;
  background: rgba(@light-green-color, 65%);
    &::after {
      content: '';
      position: absolute;
      top: 167px;
      left: 20px;
      display: block;
      width: 280px;
      height: 270px;
      background-color: transparent;
      background-image: url("/img/mobile-index-food-can.png");
    }
  @media (min-width: @tablet-width) {
    max-width: 768px;
    min-height: 181px;
    padding-top: 0px;
    background-color: @white-color;
    text-align: left;
    &::after {
      display: none;
    }
  }
  @media (min-width: @desktop-width) {
    max-width: 1220px;
    min-height: 181px;
    margin-left: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    background-color: @white-color;
    text-align: left;
    &::after {
      display: none;
    }
  }
}

.promo__slogan-background {
  background: url("/img/background-cat-desktop.jpg") no-repeat;
  max-width: 320px;
  min-height: 302px;
  margin-bottom: 138px;
  @media (min-width: @tablet-width) {
    min-height: 181px;
    max-width: 768px;
    margin-left: 117px;
    margin-bottom: 20px;
    background: none;
  }
  @media (min-width: @desktop-width) {
    min-height: 181px;
    max-width: 768px;
    margin-bottom: 52px;
    margin-left: 0px;
    background: none;
  }
}

.promo {
  max-width: 320px;
  margin-bottom: 22px;
  @media (min-width: @tablet-width) {
    max-width: 768px;
    margin-bottom: 0px;
  }
  @media (min-width: @desktop-width) {
    margin-left: 190px;
    max-width: 768px;
    min-height: 499px;
  }
}

.promo__slogan {
  margin: 0px;
  padding: 0px;
  margin-bottom: 25px;
  .fstyle(36px, 36px, @white-color);
  font-weight: 100;
  @media (min-width: @tablet-width) {
    color: @black-color;
  }
}

.promo__intro {
  margin: 0px;
  padding: 0px;
  .fstyle(14px, 14px, @white-color, uppercase);
  @media (min-width: @tablet-width) {
    color: @black-color;
  }
}

.promo__button {
  display: inline-block;
  vertical-align: middle;
  .link-style-reset();
  .fstyle(14px, 18px, @white-color, uppercase);
  font-weight: 400;
}

.promo__button-wrapper {
  @media (min-width: @tablet-width) {
    width: 626px;
    min-height: 580px;
    margin-left: 29px;
    margin-right: 30px;
    padding-top: 29px;
    padding-left: 83px;
  }
  @media (min-width: @desktop-width) {
    width: 300px;
    min-height: 55px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-left: 0px;
  }
}
