.social__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: 63px;
  .list-style-disabler();
  padding-left: 75px;
  border-top: 1px solid @footer-grey-color;
  border-bottom: 1px solid @footer-grey-color;
  @media (min-width: @tablet-width) {
    min-height: 28px;
    padding-left: 0px;
    border: none;
  }
  @media (min-width: @desktop-width) {
    padding-left: 0px;
  }
}

.social__icon {
  color: @footer-icon-color;
  &:hover {
    color: @light-green-color;
  }
  &:active,
  &:focus {
    opacity: 0.3;
  }
}

.social__vk {
  width: 23px;
  height: 16px;
  margin-right: 36px;
  @media (min-width: @tablet-width) {
    width: 30px;
    height: 22px;
    margin-right: 27px;
  }
}

.social__insta {
  width: 16px;
  height: 16px;
  margin-right: 33px;
  @media (min-width: @tablet-width) {
    width: 23px;
    height: 23px;
    margin-right: 21px;
  }
}

.social__fb {
  width: 22px;
  height: 22px;
  @media (min-width: @tablet-width) {
    width: 28px;
    height: 33px;
  }
}
