.fstyle(@font-size, @line-height, @color, @transform : none) {
  font-size: @font-size;
  line-height: @line-height;
  color: @color;
  text-transform: @transform;
}

.list-style-disabler() {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.link-style-reset() {
  text-decoration: none;
}
