/*Colors*/
@black-color: #000000;
@white-color: #FFFFFF;
@light-green-color: #68B738;
@special-dark-grey-color: #444444;
@special-dark-grey-2-color: #222222;
@special-dark-grey-3-color: #111111;
@basic-grey-color: #F2F2F2;
@darker-grey-color: #EAEAEA;
@border-grey-color: #CDCDCD;
@footer-grey-color: #D9D9D9;
@example-grey-color: #C4C4C4;
@form-border-grey-color: #E7E7E7;
@special-grey-color: #EBEBEB;
@grey-plus-element-color: #D3D3D3;
@error-red-color: #FF8282;
@grey-border-header: #E6E6E6;

@tablet-width: 768px;
@desktop-width: 1440px;
@mobile-width-only: 767px;
@tablet-width-only: 1439px;
